body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    background: url('/resources/images/bg.png');
}

.page {
    width: 800px;
    margin: 0px auto;
    background: white;
}


/* Header */

.header {
    background: black;
    padding: 20px;
}

.header-title {
    margin: 0;
    font-size: 24px;
    color: white;
    text-align: start;
}

.header-subtitle {
    margin: 0;
    font-weight: 400;
    font-size: 15px;
    color: rgb(115, 208, 245);
    text-align: center;
}


/* Navigation */

.nav {
    text-align: center;
}

.nav-link {
    margin: 5px 0;
    padding: 5px 8px;
    color: white;
    background: rgb(54, 54, 54);
    display: inline-block;
    text-decoration: none;
}

.nav-link:hover {
    color: white;
    background: rgb(14, 13, 13);
    outline: 0.5px solid white;
}


/* Content */

.content {
    padding: 20px;
}

.content-title {
    margin: 0;
    font-size: 24px;
}

.content-text {
    margin-bottom: 20px;
}

/* Table */

.table-container {
	margin: 15px auto;
	border-left: 1px solid black;
}

.table {
    margin: 5px;
	padding: 10px;
	width: 100%;
    table-layout: auto;
	text-align: left;
	border-collapse: collapse;
}

.table th {
	border-bottom: 1px solid black;
	padding: 5px 0 5px;
}

.table td {
    position: relative;
	padding: 10px 0px;
    border-bottom: 0.5px dashed black;
}

.table td p {
    margin: 0px;
    padding: 0 5px 0 0;
    display: inline-block;
}

.table td button {
    padding: 3px;
    margin: 0px 3px;
}

.table td button:hover {
    cursor: pointer;
    background: #838383;
    color: white;
}

.hidden-row {
    display: none;
}

/* Article */

.article-title {
    margin: 5px 0 5px;
    color: chocolate;
    font-size: 18px;
}

.article-title a{
    color: inherit;
    text-decoration: none;
}

.article-title a:hover{
    text-decoration: underline;
}

.article-date {
    font-size: 12px;
    color: darkgray;
}

.link-read-more {
    color: #1d7abe;
    text-decoration: none;
}

.link-read-more:hover {
    text-decoration: underline;
}

/* FORM */

.form {
    width: 80%;
    padding: 20px;
    margin: 0;
    background: whitesmoke;
}

.form-title {
    margin: 0 0 10px;
    text-align: start;
    font-size: 18px;
}

.form-label {
    text-align: start;
    font-size: 14px;
}

.form-group {
    margin-top: 5px;
    margin-bottom: 15px;
}

.form-input {
    padding: 5px;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.form-btn {
    padding: 5px;
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}


.form-btn:hover {
    cursor: pointer;
}

.form-textarea {
    width: 200px;
    height: 150px;
    padding: 5px;
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.form-column {
    margin: 0;
    width: 100%;
    display: flex;
}

.form-col-1{
    margin: 0;
    width: 50%;
}

.form-col-2{
    margin: 0;
    width: 50%;
}

/* Footer */

.footer {
    margin: 0;
    padding: 25px;
    text-align: start;
    background: black;
}

.footer-title {
    margin: 0;
    color: white;
}

.footer-subtitle {
    margin: 0;
    padding: 5px;
    color: white;
}