<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/resources/template/css/style.css" />
    <title>Товары</title>
</head>

<body>
    <div class="page">

        <header class="header">
            <h2 class="header-title">Vedito</h2>
        </header>

        <main>
            <section class="content">
                <h1 class="content-title">
                    Список товаров.
                </h1>
                
                <div class="table-container">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>№</th>
                                <th>Продукт</th>
                                <th>Артикул</th>
                                <th>Количество</th>
                                <th>Стоимость</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Гитара</td>
                                <td>Г-001</td>
                                <td>
                                    <p>2</p>
                                    <button>+</button>
                                    <button>-</button>
                                </td>
                                <td>199.00</td>
                                <td>
                                    <button>Скрыть</button>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Гитара</td>
                                <td>Г-001</td>
                                <td>
                                    <p>2</p>
                                    <button>+</button>
                                    <button>-</button>
                                </td>
                                <td>199.00</td>
                                <td>
                                    <button>Скрыть</button>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Гитара</td>
                                <td>Г-001</td>
                                <td>
                                    <p>2</p>
                                    <button>+</button>
                                    <button>-</button>
                                </td>
                                <td>199.00</td>
                                <td>
                                    <button>Скрыть</button>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Гитара</td>
                                <td>Г-001</td>
                                <td>
                                    <p>2</p>
                                    <button>+</button>
                                    <button>-</button>
                                </td>
                                <td>199.00</td>
                                <td>
                                    <button>Скрыть</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </main>

        <footer class="footer">
            <p class="footer-subtitle">Тухтаров.</p>
        </footer>

    </div>
</body>
</html>